extends base
include mixins/video


block content
    div#watch__video
        div#videoContainer(data-id=video._id)
            if isHeroku
                video(src=video.fileUrl)
            else 
                video(src='/'+video.fileUrl)
            div#videoControls
                button#play
                    i.fas.fa-play
                span#currentTime 00:00
                input(type="range", step="0.01", value=0, min="0")#timeline
                span#totalTime 00:00
                input(type="range",value=0.5 ,step="0.01",min="0", max="1")#volume.hidden
                button#mute
                    i.fas.fa-volume-up
                
                div 
                    button#fullScreen
                        i.fas.fa-expand-alt

 
        div.videoInfo
            div.videoInfo__header
                div.videoInfo__header__icon
                    i.fas.fa-ellipsis-h.icon__more 
                    i.fas.fa-share-alt.icon__share

                if loggedInUser

                    if String(loggedInUser.savedVideo).includes(String(video.id))
                        button.savedBtn Saved
                    else 
                        button.saveBtn Save

            div.video__data
                small Uploaded by 
                    a.video__owner(href=`/users/${video.owner._id}`)=video.owner.name
                h1.video__title=video.title
                h2.video__description=video.description
                a.video__owner(href=`/users/${video.owner._id}`)
                    div.uploader__info
                        if isHeroku
                            img.uploader__avatar(src=video.owner.avatarUrl)
                        else 
                            img.uploader__avatar(src='/'+video.owner.avatarUrl)
                    span.uploader__name=video.owner.username
            
                hr
                if String(video.owner._id) === String(loggedInUser._id)
                    a(href=`${video.id}/edit`) Edit Video &rarr;
                    br
                    a(href=`${video.id}/delete`) Delete Video &rarr;
                
            

            h1.comment__length #{comments.length} #{comments.length>1? "comments" : "comment"}
            div.video__comments
                ul 
                    each comment in comments.reverse()
                        li.video__comment(data-id=comment._id, data-time=comment.createdAt.getTime())
                            a(href=`/users/${comment.owner._id}`)
                                if isHeroku
                                    img.commentAvatar(src=comment.owner.avatarUrl)
                                else 
                                    if comment.owner.avatarUrl.startsWith('http')
                                        img.commentAvatar(src=comment.owner.avatarUrl)
                                    else
                                        img.commentAvatar(src='/'+comment.owner.avatarUrl)
                                span.commentOwner=comment.owner.name
                            span#commentText #{comment.text}
                            if Math.floor((currentTime - comment.createdAt)/(1000*60)) < 60
                                span#commentTimeElapsed #{Math.floor((currentTime - comment.createdAt)/(1000*60))} m
                            else if Math.floor((currentTime - comment.createdAt)/(1000*60)) <60*24
                                span#commentTimeElapsed #{Math.floor((currentTime - comment.createdAt)/(1000*60*60))} h
                            else if Math.floor((currentTime - comment.createdAt)/(1000*60)) >= 60*24
                                span#commentTimeElapsed #{Math.floor((currentTime - comment.createdAt)/(1000*60*60*24))} d
                 
                            span.iconBox
                                if String(comment.likes).includes(String(loggedInUser._id))
                                    i.fas.fa-thumbs-up#liked
                                else
                                    i.far.fa-thumbs-up#like
                                span.iconBox__likedNum#likedNum=comment.likes.length
                                i.fas.fa-ellipsis-h#more
                            if String(comment.owner._id) === String(loggedInUser._id)

                                div.hidden#buttonBox 
                                    a()#editComment Edit 
                                    a()#deleteComment Delete

            if loggedIn  
                div.video__add-comments
                    if isHeroku
                        img(src=loggedInUser.avatarUrl)
                    else
                        if loggedInUser.avatarUrl.startsWith('htt')
                            img(src=loggedInUser.avatarUrl)
                        else
                            img(src='/'+loggedInUser.avatarUrl)
                    form.video__comment-form#commentForm
                        div.comment__text__input
                            textarea( placeholder="Write a nice comment", value=text)
                            button
                                i.fas.fa-arrow-up





    div.video__grid
        each video in videos
            each video in videos 
                +video(video)
          
   
   
        else 
            span.empty__message No Videos Found



block scripts 
    script(src="/static/js/videoPlayer.js")
    if loggedIn
        script(src="/static/js/commentSection.js") 
        script(src="/static/js/videoSection.js") 

