extends base

block content
    div#videoContainer
        video(src="/"+video.fileUrl)
        div#videoControls
            button#play
                i.fas.fa-play
            span#currentTime 00:00
            input(type="range", step="0.01", value=0, min="0")#timeline
            span#totalTime 00:00
            input(type="range",value=0.5 ,step="0.01",min="0", max="1")#volume.hidden
            button#mute
                i.fas.fa-volume-up
            
            div 
                button#fullScreen
                    i.fas.fa-expand-alt
    div
    
    //  
        div
            p= video.description
            p=video.hashtags
            small= video.createdAt
        
            h5 #{ video.views } #{ video.views ===1 ? "view" : "views" }
        div 
            small Uploaded by 
                a(href=`/users/${video.owner._id}`)=video.owner.name
        hr
        if String(video.owner._id) === String(loggedInUser._id)
            a(href=`${video.id}/edit`) Edit Video &rarr;
            br
            a(href=`${video.id}/delete`) Delete Video &rarr;
            


block scripts 
    script(src="/static/js/videoPlayer.js") 

    